@font-face {
  font-family: "Montserrat-Light";
  src: url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_light_eot.eot");
  src: url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_light_eot.eot?") format('embedded-opentype'), url("https://img.virginaustralia.com/cs/groups/internetasset/@wc/documents/webasset/~edisp/css_font_montserrat_light_otf.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat-Light";
  line-height: 1.618em;
  color: #444;
  overflow-y: scroll;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 4rem auto;
  text-align: center;
  z-index: -1;
}

h1 {
  padding: 1rem 0;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}

.rotate {
  display: none;
}

.rotate-label {
  display: inline-block;
  margin-left: 0.2rem;
  margin-bottom: 1rem;
  background: rgba(0,0,0,0);
  color: #686f74;
  border-radius: 0.1rem;
  border: 1px #d1d4d3 solid;
  padding: 0.25rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.rotate-label:hover {
  border-color: #80888d;
  color: #5a5956;
}

.rotate:checked + .rotate-label {
  background: #d6083b;
  border-color: #d6083b;
  color: #fff
}

.perspective {
  position: relative;
  z-index: -1;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-perspective-origin: 25rem -150px;
          perspective-origin: 25rem -150px;
}

.cube {
  position: relative;
  width: 400px;
  margin: 3.5rem auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.cube div {
  position: absolute;
  width: 400px;
  height: 400px;
  opacity: 0.95;
  overflow: hidden;
}

.cube img {
  max-height: 100%;
  max-width: 100%;
}

.cube a {
  position: absolute;
  opacity: 0.8;
  top: 50px;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  color: #fff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.cube a b {
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
}

.cube a i {
  position: relative;
  top: -25px;
  font-size: 30px;
  font-style: normal;
}

.cube a span {
  text-transform: none;
  font-size: 11px;
  font-weight: 300;
}

.cube div a:hover {
  opacity: 1;
}

#rotate:checked ~ .perspective > .cube {
  -webkit-animation: rotate 10s infinite linear;
          animation: rotate 10s infinite linear;
}

#front:checked ~ .perspective > .cube {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
          transform: rotateX(0deg) rotateY(0deg);
  -webkit-animation: none;
          animation: none;
}

#left:checked ~ .perspective > .cube {
  -webkit-transform: rotateX(0deg) rotateY(90deg);
          transform: rotateX(0deg) rotateY(90deg);
  -webkit-animation: none;
          animation: none;
}

#back:checked ~ .perspective > .cube {
  -webkit-transform: rotateX(0deg) rotateY(180deg);
          transform: rotateX(0deg) rotateY(180deg);
  -webkit-animation: none;
          animation: none;
}

#right:checked ~ .perspective > .cube {
  -webkit-transform: rotateX(0deg) rotateY(270deg);
          transform: rotateX(0deg) rotateY(270deg);
  -webkit-animation: none;
          animation: none;
}

#top:checked ~ .perspective > .cube {
  -webkit-transform: rotateX(-90deg) rotateY(0) translateZ(200px) translateY(-200px);
          transform: rotateX(-90deg) rotateY(0) translateZ(200px) translateY(-200px);
  -webkit-animation: none;
          animation: none;
}

#bottom:checked ~ .perspective > .cube {
  -webkit-transform: rotateX(90deg) rotateY(0) translateZ(-200px) translateY(-200px);
          transform: rotateX(90deg) rotateY(0) translateZ(-200px) translateY(-200px);
  -webkit-animation: none;
          animation: none;
}

.front {
  -webkit-transform: translateZ(200px);
          transform: translateZ(200px);
}

.back {
  -webkit-transform: translateZ(-200px) rotateY(180deg);
          transform: translateZ(-200px) rotateY(180deg);
}

.left {
  -webkit-transform: rotateY(270deg) translateX(-200px);
          transform: rotateY(270deg) translateX(-200px);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.right {
  -webkit-transform: rotateY(-270deg) translateX(200px);
          transform: rotateY(-270deg) translateX(200px);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.top {
  -webkit-transform: rotateX(90deg) translateY(-200px);
          transform: rotateX(90deg) translateY(-200px);
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.bottom {
  -webkit-transform: rotateX(-90deg) translateY(200px);
          transform: rotateX(-90deg) translateY(200px);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
